<ion-view>
    <ion-content class="bgImg">
        <div class="list tabSelect player-select">

            <label class="item item-input">
                <label for="">Enter Password: </label>
                <input type="text" ng-model="currentPlayer" ng-change="selectPlayerNo(currentPlayer)" placeholder="Enter Password" class="passwordtext">
            </label>
        </div>
        <div class="marb-30 text-center">
            <button class="button btn-start" ui-sref='player'>Back</button>
        </div>
    </ion-content>
</ion-view>