<div ng-if="gameType.name == 'Joker'">
  <div class="padding-horizontal">
    <h4 class="label">Joker Card</h4>
  </div>
  <!-- <div class = "text-center">Joker Card </div> -->
  <div ng-if="gameType.jokerCard" class="text-center">
    <card
      class="community-card"
      card="{{ gameType.jokerCard }}"
      ng-style="style"
    >
    </card>
  </div>
  <div ng-if="!gameType.jokerCard" class="text-center">
    <card class="community-card" card="NONE" ng-style="style"> </card>
  </div>
</div>

<div ng-if="gameType.name == 'Zandu' || gameType.name == 'Flipper'  ">
  <div
    class="padding-horizontal text-center mb-5"
    ng-if="gameType.jokerCards.length > 0"
  >
    <h4 class="label">Joker Cards</h4>
  </div>
  <div class="display-inline" ng-repeat="jC in gameType.jokerCards">
    <div class="text-center" ng-show="jC.status">
      <card class="community-card" card="{{ jC.card }}" ng-style="style">
      </card>
    </div>
    <div class="text-center" ng-hide="jC.status">
      <card class="community-card" card="DONE" ng-style="style"> </card>
    </div>
  </div>
</div>
