<div style="position:relative;">

    <div class=" text-center" ng-class="{'player-turn':player.isTurn,'not-active':!player.isActive,'player-fold':player.isFold}">

        
        <div class="row" ng-if="player.cards.length==0">
            <div class="col col-30 ">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>

            </div>
            
            <div class="col col-30 ">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30 " ng-if="gameType.totalCards >= 3">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30 " ng-if="gameType.totalCards >= 4">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30 " ng-if="gameType.name == 'Joker'">
                    <joker  ng-game-type = "gameType"></joker>
            </div>
        </div>
        
        <div class="row" ng-if="player.cards.length==1">
            <div class="col col-30">
                <card card='{{player.cards[0] | showCard : player}}' ng-style="style" width="150" height="200"> </card>

            </div>
            <div class="col col-30">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30" ng-if="gameType.totalCards >= 3">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30" ng-if="gameType.totalCards >= 4">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30 " ng-if="gameType.name == 'Joker'">
                    <joker  ng-game-type = "gameType"></joker>
            </div>
        </div>
        <div class="row" ng-if="player.cards.length==2">
            <div class="col col-30">
                <card card='{{player.cards[0] | showCard : player}}' ng-style="style" width="150" height="200"> </card>

            </div>
            <div class="col col-30">
                <card card='{{player.cards[1] | showCard : player}}' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30" ng-if="gameType.totalCards >= 3">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30" ng-if="gameType.totalCards >= 4">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30 " ng-if="gameType.name == 'Joker'">
                <joker  ng-game-type = "gameType"></joker>
            </div>
        </div>
        <div class="row" ng-if="player.cards.length==3">
            <div class="col col-30">
                <card card='{{player.cards[0] | showCard : player}}' ng-style="style" width="150" height="200"> </card>

            </div>
            <div class="col col-30">
                <card card='{{player.cards[1] | showCard : player}}' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30" ng-if="gameType.totalCards >= 3">
                <card card='{{player.cards[2] | showCard : player}}' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30" ng-if="gameType.totalCards >= 4">
                <card card='NONE' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30 " ng-if="gameType.name == 'Joker'">
                    <joker  ng-game-type = "gameType"></joker>
            </div>
        </div>
        <div class="row" ng-if="player.cards.length==4">
            <div class="col col-30">
                <card card='{{player.cards[0] | showCard : player}}' ng-style="style" width="150" height="200"> </card>

            </div>
            <div class="col col-30">
                <card card='{{player.cards[1] | showCard : player}}' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30" ng-if="gameType.totalCards >= 3">
                <card card='{{player.cards[2] | showCard : player}}' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30" ng-if="gameType.totalCards >= 4">
                <card card='{{player.cards[3] | showCard : player}}' ng-style="style" width="150" height="200"> </card>
            </div>
            <div class="col col-30 " ng-if="gameType.name == 'Joker'">
                    <joker  ng-game-type = "gameType"></joker>
            </div>
        </div>
    </div>
</div>